html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
  }
  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }


.o0 {
    opacity: 0 !important;
}
#title {
    background: #dddddd; 
    /* padding: 0; 
    margin: 0;  */
    z-index: 3;
    /* border: none; */
    position: absolute;
}
#shows-title {
    position: absolute;
    background: none;
    top: 10%;
    left: 50%;
    margin-left: -220px;
    font-size: 100px;
}
#email {

    position: absolute;
    background: none;
    top: 30%;
    left: 50%;
    margin-left: -290px;
    font-size: 50px;

}
#book-title {
    position: absolute;
    background: none;
    top: 10%;
    left: 50%;
    margin-left: -110px;
    font-size: 100px;
}
button {
    border: none;
    background: none;
    /* border-radius: 5px; */
    cursor: pointer;
    position: absolute;
    z-index: 3;
  }
#top-button { 
    position: absolute;
    top: 0%;
    margin-left: -60px;
    left: 50%;
    
  } 
  #bottom-button {
    position: absolute;
    bottom: 0px;
    margin-left: -60px;
    left: 50%;
  }
  #left-button {
    position: absolute;
    top: 50%;
    left: 0px;
  }
  #right-button {
    position: absolute;
    top: 50%;
    right: 0px;
  }

.container {
	position: relative;
	height: 100%;
    width: 100%;
	overflow: hidden;
}

.container div {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    padding: 0px;
}

#home {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    bottom: auto;
    right: auto;
    background: none;
}

.page-1 {
    background-color: #dddddd;
}

/* .page-2 {
    background-color: yellow;
} */
/* html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
  }
  body {
    height: 100%;
    overflow: hidden;
  }

  button {
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
  }
  #car-scene {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0%;
     left: 0;
     bottom: auto;
     right: auto;
     background: none;
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    }
  #car-scene.top {
      top: 100%;
  }
 #car-scene.bottom {
    top: -100%;
  }
  #car-scene.right {
    left: -100%;
  } 
  #car-scene.left {
    left: 100%;
  }

  #top { 
    position: absolute;
    top: 0%;
    left: 50%;
  } 
  #bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  #left {
    position: absolute;
    top: 50%;
    left: 0px;
  }
  #right {
    position: absolute;
    top: 50%;
    right: 0;
  }

  #bottom-hide {
    position: absolute;
    top: 0%;
    left: 50%;
  }
  #top-hide {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  #right-hide {
    position: absolute;
    top: 50%;
    left: 0px;
  }
  #left-hide {
    top: 50%;
    right: 0;
  }


  .top-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: #000000;
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  }
  .top-layer.active {
    top: 0%;
  }
  .bottom-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: #000000;
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  }
  .bottom-layer.active {
    top: 0%;
  }
  .left-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: -100%;
    bottom: auto;
    right: auto;
    background: #000000;
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  }
  .left-layer.active {
    left: 0%;
  }
  .right-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: 100%;
    bottom: auto;
    right: auto;
    background: #000000;
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  }
  .right-layer.active {
    left: 0%;
  } */